In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split

In [2]:
import xml.etree.ElementTree as ET
import pandas as pd  
# Initializing Column names.
cols = ["Id",
        "FullNm",
        "ClssfctnTp",
        "CmmdtyDerivInd",
        "NtnlCcy",
        "Issr"]
rows = []

#Parse XML file
tree = ET.parse('FILE.xml')
root = tree.getroot()

In [3]:
# Initializing variable m for iteration of FinInstrm tags
m = 1 
while(m<len(root[1][0][0])):
    # Initializing variable i for iteration to find column datas
    i = 0
    while i<6:
        if i == 0:
            Id = root[1][0][0][m][0][0][i].text
        elif i == 1:
            FullNm = root[1][0][0][m][0][0][i].text
        elif i == 3:
            ClssfctnTp = root[1][0][0][m][0][0][i].text
        elif i == 4:
            NtnlCcy = root[1][0][0][m][0][0][i].text
        elif i == 5:
            CmmdtyDerivInd = root[1][0][0][m][0][0][i].text
        i += 1         # Increment i
    Issr = root[1][0][0][m][0][1].text
    rows.append({"Id":Id,"FullNm":FullNm,
                 "ClssfctnTp":ClssfctnTp,
                 "NtnlCcy":NtnlCcy,
                 "CmmdtyDerivInd":CmmdtyDerivInd,
                 "Issr":Issr}
               )
    m += 1            # Increment m
df = pd.DataFrame(rows, columns = cols)
df.to_csv('company.csv',index = False)

In [4]:
df = pd.read_csv("company.csv")

In [5]:
df.head()

,Id,FullNm,ClssfctnTp,CmmdtyDerivInd,NtnlCcy,Issr
0,DE000A1R07V3,Kreditanst.f.Wiederaufbau Anl.v.2014 (2021),DBFTFB,False,EUR,549300GDPG70E3MBBU98
1,DE000A1R07V3,KFW 1 5/8 01/15/21,DBFTFB,False,EUR,549300GDPG70E3MBBU98
2,DE000A1R07V3,Kreditanst.f.Wiederaufbau Anl.v.2014 (2021),DBFTFB,False,EUR,549300GDPG70E3MBBU98
3,DE000A1R07V3,Kreditanst.f.Wiederaufbau Anl.v.2014 (2021),DBFTFB,False,EUR,549300GDPG70E3MBBU98
4,DE000A1X3J56,IKB Deutsche Industriebank AG Stufenz.MTN-IHS ...,DTVUFB,False,EUR,PWEFG14QWWESISQ84C69